ion-content {
    margin-top: 0px !important;
    --background: none;
    background-image: url('../../assets/bg/aero.jpg') !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.toolbar {
    display: flex;
    justify-content: space-around;
    padding:2vh;
    background: rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
img {
    height: 4rem;
}

ion-title {
    margin-top: 5px;
    color: cyan;
    text-shadow: -2px 2px 2px blue;
    font-size: 16pt;
}
ion-card{
    margin-top: 5rem;
    padding: 2vw;
    background: rgba(40, 60, 70, 0.3);
    border-radius: 15px;
}
ion-card-title {
    padding: 2vw;
    color:cyan;
    font-size: 15pt;
    margin-top: 1vh;
}
ion-item {
    --background:rgba(0,0,0,0.3) !important;
    color: #ffffff;
    border: 1px solid lightblue;
    border-radius: 15px;
    margin-top: 2vh;
}

ion-button {
    padding: 1vh !important;
}



ion-footer {
    padding: 2vh;
    text-align: end;
    color: white;
    font-size: 10pt;
}