<ion-content>

  <div class="toolbar">
    <div>
      <img src="../../assets/icon/teacher.png">
    </div>
    <div style="text-align: center;">
      <ion-title>Class-CheckIn:</ion-title>
      <ion-title>Docentes</ion-title>
    </div>
  </div>
  
  <ion-card>
    <ion-card-content>

      <div style="text-align: center;">
        <ion-button (click)="goToLogin()" fill="clear">Iniciar Sesión</ion-button>
      </div>

      <div style="text-align: center; margin-bottom: 0;">
        <ion-button class="signup" (click)="goToSignup()" fill="clear">Registrarse</ion-button>
      </div>
      
    </ion-card-content>
  </ion-card>


</ion-content>

<ion-footer>
  <div class="footerlogin">v.1.2 | 2024</div>
</ion-footer>