<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="earth-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="gestion" href="/tabs/gestion">
      <ion-icon aria-hidden="true" name="reader-outline"></ion-icon>
      <ion-label>Gestionar clases</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="justify" href="/tabs/justify">
      <ion-icon aria-hidden="true" name="folder-open-outline"></ion-icon>
      <ion-label>Justificaciones</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
