ion-content {
    background-image: url('../assets/bg/aero3.jpg') !important;
    --background: rgba(0,0,0,0.16) !important;
}
.container {
    margin-left: 2rem;
    margin-right: 2rem;
}
ion-toolbar {
    background: rgba(0, 0, 0, 0.5) !important;
    border: 1px solid rgb(0, 254, 151) !important;
}
.toolbar {
    display: flex;
    justify-content: space-around;
    padding:2vh;
}
img {
    height: 2rem;
}
ion-menu-toggle {
    ion-item {
        margin-top: 1rem !important;
        margin-right: 1rem !important;
        border: 1px solid rgb(0, 254, 151)!important;
    }
}
ion-footer {
    margin-top: 1rem;
    padding: 1rem;
    ion-title{
        color: lightblue;
        font-size: 12pt;
    }
}