<ion-content [fullscreen]="true">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Camara de registro
    </ion-title>
  </ion-toolbar>
  
  <div class="container">
    <ion-item>
      <ion-label>Aquí podrá usar la camara de registro</ion-label>
    </ion-item>

    <ion-button (click)="camera()" expand="block" fill="clear" shape="round">
      Registrar
    </ion-button>

  </div>
  
</ion-content>